    <%- include("header.ejs") %>
    <h1>sign up</h1>
    <div class="styiling-body">
        <div class="styiling-container">
            <h2 class="styiling-heading">Signup</h2>
            <form action="/signup" method="post">
                <label class="label" for="username">Username:</label>
                <input type="text" class="styiling-username-password" name="username" required>

                <label class="label" for="password">Password:</label>
                <input type="password" class="styiling-username-password" name="password" required>

                <button class="styiling-submit-button" type="submit">Signup</button>
            </form>
        </div>
    </div>

    <%- include("footer.ejs") %>


